imgaug==0.4.0
gdown==3.11.0
torch==1.5.1
tqdm==4.59.0
~pencv_python==4.2.0.34
einops==0.2.0
lmdb==1.0.0
prefetch_generator==1.0.1
matplotlib==3.2.1
six==1.14.0
numpy==1.18.1
scikit_image==0.17.1
imutils==0.5.3
torchvision==0.6.1
requests==2.24.0
pathlib2==2.3.5
Pillow==8.2.0
PyYAML==5.4.1
skimage==0.0
